<h1> Listing Products </h1>
<br>
<table>
<thead>
	<tr>
		<th>Product Name</th>
		<th>Size</th>
		<th>Description</th>
		<th></th>
		<th></th>
		<th></th>

	</tr>
</thead>
<tbody>
	<% @products.each do |product| %>
     <tr>
     <td><%= product.product.name %></td>	
     <td><%= product.size %></td>
     <td><%= product.Description %></td>
     <td><%= link_to 'Show', product %></td>
     </tr>
	<% end %>
</tbody>
</table>